/* RESET //////////////////////////////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
  display: block;
}
a:focus {
	outline: none;
}

/* CSS TOOLS ////////////////////////////////////////// */
/* GENERAL /////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

a, button, input, label {
  pointer-events: initial;
}

label:hover {
  cursor: pointer;
}

/* LAYOUT /////////////////////////////////////////////// */
.vp {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: calc(var(--w) * 1px);
  height: calc(var(--h) * 1px);
}

/* LAYERS ///////////////////////////////////////////// */
/* GENERAL -------------------------------------------- */
.layer {
  position: fixed;
  width: 100%;
  height: 100%;
}

.layer-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layer-background svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-layer-link {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 40px solid green;
}

.layer-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* PAGE LOADING SCREEN ------------------------------ */
#page-loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.page-loading-graphic {
  position: absolute;
  width: 300px;
  height: 300px;
  animation: spin 5s linear infinite;
}

#page-loading-screen span {
  position: absolute;
  font-size: 30px;
  display: block;
  padding: 50px;
  border: 10px solid black;
  background-color: hsla(0, 0%, 100%, 0.7);
}

/* PAGE BACKGROUND -------------------------------------------- */
#page-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.gutter {
  position: absolute;
  width: calc(var(--gw) * 1px);
  height: calc(var(--gh) * 1px);
}

.vg {
  display: var(--vg);
}

.hg {
  display: var(--hg);
}

.gutter-top {
  top: 0;
}

.gutter-right {
  right: 0;
}

.gutter-bottom {
  bottom: 0;
}

.gutter-left {
  left: 0;
}

/* MENU ------------------------------------ */
#menu-toggle {
  width: 20%;
  height: 10%;
  position: absolute;
}

#menu-checkbox {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  display: inline;
}

#menu-checkbox-label {
  width: 100%;
  height: 100%;
  display: block;
}